<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>PRJ321x_A3</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>DisplayProduct</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <servlet-name>DisplayProduct</servlet-name>
    <servlet-class>com.funix.controller.controllerProduct.DisplayProduct</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayProduct</servlet-name>
    <url-pattern>/DisplayProduct</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchController2</display-name>
    <servlet-name>SearchController2</servlet-name>
    <servlet-class>com.funix.controller.controllerProduct.SearchController2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchController2</servlet-name>
    <url-pattern>/SearchController2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InformationProductController</display-name>
    <servlet-name>InformationProductController</servlet-name>
    <servlet-class>com.funix.controller.InformationProductController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InformationProductController</servlet-name>
    <url-pattern>/InformationProductController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddCartCustomController</display-name>
    <servlet-name>AddCartCustomController</servlet-name>
    <servlet-class>com.funix.controller.AddCartCustomController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddCartCustomController</servlet-name>
    <url-pattern>/AddCartCustomController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Controller</display-name>
    <servlet-name>Controller</servlet-name>
    <servlet-class>com.funix.controller.Controller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Controller</servlet-name>
    <url-pattern>/Controller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateCartController</display-name>
    <servlet-name>UpdateCartController</servlet-name>
    <servlet-class>com.funix.controller.UpdateCartController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateCartController</servlet-name>
    <url-pattern>/UpdateCartController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PayController</display-name>
    <servlet-name>PayController</servlet-name>
    <servlet-class>com.funix.controller.PayController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PayController</servlet-name>
    <url-pattern>/PayController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserController</display-name>
    <servlet-name>UserController</servlet-name>
    <servlet-class>com.funix.controller.controllerUser.UserController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserController</servlet-name>
    <url-pattern>/UserController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InformationInCustomerCart</display-name>
    <servlet-name>InformationInCustomerCart</servlet-name>
    <servlet-class>com.funix.controller.controllerUser.InformationInCustomerCart</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InformationInCustomerCart</servlet-name>
    <url-pattern>/InformationInCustomerCart</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Admin</display-name>
    <servlet-name>Admin</servlet-name>
    <servlet-class>com.funix.controller.Admin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Admin</servlet-name>
    <url-pattern>/Admin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchController</display-name>
    <servlet-name>SearchController</servlet-name>
    <servlet-class>com.funix.controller.SearchController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchController</servlet-name>
    <url-pattern>/SearchController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DispalyToAdmin</display-name>
    <servlet-name>DispalyToAdmin</servlet-name>
    <servlet-class>com.funix.controller.controllerAdmin.DispalyToAdmin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DispalyToAdmin</servlet-name>
    <url-pattern>/DispalyToAdmin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginAdmin</display-name>
    <servlet-name>LoginAdmin</servlet-name>
    <servlet-class>com.funix.controller.controllerAdmin.LoginAdmin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginAdmin</servlet-name>
    <url-pattern>/LoginAdmin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewCart</display-name>
    <servlet-name>ViewCart</servlet-name>
    <servlet-class>com.funix.controller.ViewCart</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewCart</servlet-name>
    <url-pattern>/ViewCart</url-pattern>
  </servlet-mapping>
</web-app>